<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="theme-color" content="#db5945">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Ciel Fitness</title>
</head>

<body class="bg-dark">
    <div class="pt-5 pb-5 d-flex flex-row justify-content-center bg-dark ">
        <img src="/images/brand.png">
    </div>
    <div class="container bg-dark pt-5 pb-5">
        <form method="post" id="form">
            <div class="form-group">
                <label for="name" class="text-light">account name</label>
                <input type="account" class="form-control" id="account" placeholder="account">
            </div>
            <div class="form-group">
                <label for="password" class="text-light">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="login" class="btn btn-warning" id="login">Login</button>
            <button type="signup" class="btn btn-danger" id="signup">Sign Up</button>
        </form>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function () {
                $("#login").click(function () {
                    var frm = document.getElementById("form");
                    frm.action = '/login';
                });

                $("#signup").click(function () {
                    var frm = document.getElementById("form");
                    frm.action = '/signup';
                });
            });
            if ('serviceWorker' in navigator) {
                console.log("Will the service worker register?");
                navigator.serviceWorker.register('javascripts/service-worker.js')
                    .then(function (reg) {
                        console.log("Yes, it did.");
                    }).catch(function (err) {
                        console.log("No it didn't. This happened:", err)
                    });
            }
        </script>
</body>

</html>