<!doctype html>
<html lang="en" class="bg-dark">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/personal_video.css">
  <title>personal_video</title>
</head>

<body class="bg-dark">

  <nav class="navbar  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="images/brand.png" width="150" height="30" alt="">
    </a>
    <a class="nav-link text-light navbar-right" href="/main"><i class="fas fa-home"></i></a>

    <a class="nav-link text-light navbar-right" href="#"><i class="fas fa-shopping-bag"></i></a>
  </nav>

  <div class="container">
    <div class="row pt-2">
      <div class="col-4">
        <img src="https://png.pngtree.com/element_pic/00/16/07/2857995a340e5e6.jpg" class="rounded-circle" width="120"
          height="120">
        <!-- 上面的這個img是用來放使用者頭像 -->
      </div>
      <div class="col-8 d-flex flex-wrap align-items-start">
        <h1 class="text-light text-left">User Name</h1>
        <!-- 上面的這個h1是用來放Username -->
        <p class="text-light text-left">personal introduce</p>
        <!-- 上面的這個p是用來放 personal introduce 加進db-->
      </div>
    </div>


    <div class="row pt-2">
      <div class="col-4">
        <a href="/personal_menu" class="text-light" id="a1" style="
            padding-left: 30%;"><i class="fas fa-file-alt"></i></a>
      </div>
      <div class="col-8 d-flex flex-wrap align-items-start justify-content-end flex-wrap">
        <button type="button" class="pt-0 btn btn-primary btn-lg btn-block " id="edit">Edit Profile</button>
        <p class="text-light pr-2 text-right border rounded" id="money">0 MITH</p>
        <!-- 上面這個數字抓使用者透過這個app賺多少錢 -->
      </div>
    </div>
  </div>
  <hr class="pt-0 mt-0 bg-light">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>